"""{{bundle_name}} - {{description}}"""

from chimerax.core.toolshed import BundleAPI


class _{{command_name_pascal}}API(BundleAPI):
    """Bundle API for {{bundle_name}}."""

    api_version = 1

    @staticmethod
    def run_provider(session, name, mgr):
        """Run the fetch provider."""
        if mgr == session.open_command:
            from .fetch import {{command_name_pascal}}Fetcher

            return {{command_name_pascal}}Fetcher(session, name)
        return None


bundle_api = _{{command_name_pascal}}API()
